
* {
  box-sizing: border-box;
}


h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

h2 {
  float: left;
   clear: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding: 0 10px;
  color: white;
  border: 1px solid black;
  color: #A52A2A;
  font-size: 125%;
  position: absolute;
  background-color: green;

}



.column{
    width: 33%;
    float: left;
    margin: 1% 0.165%;
    padding: 15px;
    border: 1px solid black;
    font-family: Helvetica;
    color: white;
    position: relative;
    background-color: grey;

    
}



@media screen  and (min-width: 768px) and (max-width: 991px) {
  .column {
    float: left;
    width: 49%;
    margin: 0.5%;
  }
  .column:last-child{
      width: 99%;
  }
}

@media screen and (max-width: 767px) {
  .column {
    width: 100%;
  }
}

    